@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

html{
    font-family: 'Raleway', sans-serif;

}

.miportafolio{
    background-color: rgb(196, 196, 196);
    width: 100%;
}

.title-portafolio{
    padding: 1%;
}

.enlaces{
    background-color: gray;
    padding-left: 2%;
}
.enlace{
    text-decoration: none;
    color: white;
}

.enlace:hover{
    text-decoration: solid;
    color: green;
}

.imagen{
    border-top-left-radius: 20%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 50%;
}
.container2{
    font-family: 'Raleway', sans-serif;
}

.title-cv{
    font-style: oblique;
}

.clase{
    color: green;
    font-style: italic;
}

.seccion{
    border: dashed green 1px;
    border-left: solid green;
    margin: 1.2%;
}

.experiencia{
    display: flex;
    border: white;
    padding: 0;
    border-bottom: dashed  green 0.5px;
}
.experiencia1{
    display: flex;
    border: white;
    padding: 0;
    border-bottom: dashed  rgb(255, 255, 255) 0.5px;
}
.formacion1{
    position: ;
    display:flex;
    border: white;
    padding: 0;
    border-bottom: dashed  green 0.5px;
}
/*LINEA 1*/
.experiencia .fecha {
    margin-right: 10%;
}
.experiencia .trabajo{
    margin-right: 30%;
}
.experiencia .empresa{
    margin-right: 20%;
}
.experiencia .trabajo{
    color: green;
}
/*LINEA 2*/
.experiencia .fecha2 {
    margin-right: 10.7%;
}
.experiencia .trabajo2{
    margin-right: 32%;
}
.experiencia .empresa2{
    margin-right: 13.5%;
}
.trabajo2{
    color: green;
}
/*LINEA 3*/
.experiencia1 .fecha3 {
    margin-right: 10.7%;
}
.experiencia1 .trabajo3{
    margin-right: 28.7%;
}
.experiencia1 .empresa3{
    margin-right: 20%;
}
.trabajo3{
    color: green;
}
/*LINEA 4*/
.formacion1 .fecha4 {
    margin-right: 5%;
    margin-left: 2%;
    
}
.formacion1 .trabajo4{
    color: green;
    margin-left: 5%;
}
.formacion1 .empresa4{
    margin-left: 10%;
}
.trabajo4{
    color: green;
    margin-left: 15%;
}
.lugar4 {
    margin-left: 10%;
}

.graph{
    width:10%;
    height:15px;
    border-radius: 0%;
}