@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

html{
    font-family: 'Raleway', sans-serif;

}

.miportafolio{
    background-color: rgb(196, 196, 196);
    width: 100%;
}

.title-portafolio{
    padding: 1%;
}

.enlaces{
    display: flex;
    background-color: gray;
    padding-left: 2%;
}
.enlace{
    margin: 10px 20px 10px 20px;
    text-decoration: none;
    color: white;
}

.enlace:hover{
    text-decoration: solid;
    color: green;
}

.imagen{
    float: right;
    border-top-left-radius: 20%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 50%;
    border: 1px green dashed;
}
.container2{
    font-family: 'Raleway', sans-serif;
}

.title-cv{
    margin-left: 1%;
}

.clase{
    color: green;
    font-style: italic;
}

.seccion{
    border: dashed green 1px;
    border-left: solid green;
    margin: 1.2%;
}

.experiencia{
    display: flex;
    border: white;
    padding: 0;
    border-bottom: dashed  green 0.5px;
}
.experiencia1{
    display: flex;
    border: white;
    padding: 0;
    border-bottom: dashed  rgb(255, 255, 255) 0.5px;
}

.formacion1{
    position: ;
    display:flex;
    border: white;
    padding: 0;
    border-bottom: dashed  green 0.5px;
}

/*LINEA 1*/
.experiencia .fecha {
    padding-right: 15.5%;
}
.experiencia .trabajo{
    color: green;
    padding-right: 17.5%;
}
.experiencia .empresa{
    padding-right: 22%;
}
.experiencia .lugar{

}

/*LINEA 2*/
.experiencia .fecha2 {
    padding-right: 20%;

}
.experiencia .trabajo2{
    color: green;
    padding-right: 20%;

}
.experiencia .empresa2{
    padding-right: 20%;

}
.lugar2{
    padding-right: 20%;

}
/*LINEA 3*/
.experiencia1 .fecha3 {
    padding-right: 20%;

}
.experiencia1 .trabajo3{
    color: green;
    padding-right: 20%;

}
.experiencia1 .empresa3{
    padding-right: 20%;

}
.lugar3{
    padding-right: 18.1%;

}
/*LINEA 4*/
.fecha4 {
    padding-right: 20%;

}
.trabajo4{
    padding-right: 0%;

}
.experiencia .empresa4{
    padding-left: 20%;

}
.trabajo4{
    color: green;
    padding-right: 20%;

}

.graph{
    width:10%;
    height:15px;
    border-radius: 0%;
}